*,*:before,*:after {
  box-sizing: border-box;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: $outer-margin;
  padding-left: $outer-margin;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: $gutter-compensation;
  margin-left: $gutter-compensation;
  &.reverse {
    flex-direction: row-reverse;
  }
}

.col.reverse {
  flex-direction: column-reverse;
}


[class*=col-] {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: $half-gutter-width;
  padding-left: $half-gutter-width;
}